

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">        
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="metricBeforeUpdates">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Before
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="metricPostUpdates">
                <span class="oi oi-list-rich" aria-hidden="true"></span> After
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
